@import "/cas/css/cas.css";

.mdc-typography {
  font-family: serif;
}

body {
  background: #ebebeb;
  color: #777;
  font-family: serif;
  font-size: 13px;
  height: auto;
  margin: 0 !important;
  padding: 0 !important;
  line-height: : 1.5;
}

.mdc-top-app-bar--fixed-adjust {
  margin: 0 !important;
  padding: 0 !important;
}

main#main-content {
  margin: 20px auto !important;
  padding: 70px 0 0 0 !important;
  border: 10px solid #ccc;
  max-width: 590px;
  background-color: #ffffff;
  background-image: url('logo.png'), url('bg.png');
  background-position: top left;
  background-repeat: no-repeat, repeat-x;
}

main#main-content > div#content  {
  background: transparent;
  border-radius: 0;
  width: 100%;
  margin: 0 !important;
  padding: 20px 30px !important;
}

main#main-content > div#content > div.mdc-card {
  background-color: transparent;
  box-shadow: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
}

.login-section {
  padding: 0;
  border: 0;
}

form#fm1 {
  margin-bottom: 20px;
}
form#fm1 > #login-form-controls > h3 {
  display: none;
}
form#fm1 .alert-danger,
form#fm1 .banner-danger {
  margin: -5px -15px 10px -15px;
  padding: 0 15px;
  background-color: #f2dede;
  color: #ab4846;
  border: 2px solid #ebccd1;
  border-radius: 5px;
}

section.my-3 {
  margin: 0 !important ;
  padding: 0 !important ;
}

/* label */
.mdc-text-field {
  border-radius: 0;
  display: block;
  position: static;
}
.mdc-text-field--outlined {
  padding: 0;
  height: auto;
}

/* label > span */
.mdc-notched-outline {
  display: block;
  position: static;
  width: auto;
  height: auto;
}
.mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__leading,
.mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__trailing {
  display: none;
}
.mdc-notched-outline__leading, .mdc-notched-outline__notch, .mdc-notched-outline__trailing {
  border: 0;
}
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: inherit;
}
.mdc-text-field--outlined .mdc-floating-label {
  left: auto;
  right: auto;
  top: auto;
  transform: none;
  margin: 0;
  padding: 0;
  display: block;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}
.mdc-notched-outline .mdc-floating-label {
  position: static;
}
.mdc-floating-label {
  font-family: inherit;
  line-height: 1.5;
}

/* label > input */
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: inherit;
}
.mdc-text-field > .mdc-text-field__input, .mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) > .mdc-text-field__input {
  border-radius: 0;
}
.mdc-text-field--outlined .mdc-text-field__input {
  display: block;
  height: auto;
}
.mdc-input-group .mdc-input-group-field.mdc-input-group-field-append .mdc-text-field > .mdc-text-field__input {
 border-radius: 0;
}
.mdc-text-field--outlined.mdc-text-field--with-trailing-icon {
  padding: 0;
}

.mdc-text-field--outlined .mdc-text-field__input,
.mdc-text-field__input {
  font-family: inherit;
  outline: 2px solid #ccc;
  font-size: 16px;
  padding: 10px;
  max-width: 400px;
  height: auto;
  border-radius: 0;
}

button.reveal-password {
  display: none;
}

a.mdc-button {
  display: none;
}

/* .mdc-button {
  outline: solid red 1px;
  border-radius: 0;
  text-transform: none;
  display: inline;
  height: auto;
  position: static;
  padding: 0;
  min-width: 0;
  width: initial;
}
.mdc-button .mdc-button__label {
  position: static;
}
*/

button.mdc-button[name='submit'] {
  box-shadow: none;
  border-radius: none;
  background: transparent url('submit.gif') center center no-repeat;
  width: 105px;
  height: 34px;

}
button.mdc-button[name='submit'] .mdc-button__label {
  display: none;
}

div.form-wrapper hr.my-4 {
  display: none;
}

div#pmlinks span.mdi-account-question,
div#pmlinks br{
  display: none;
}
div#pmlinks a {
  display:inline-block;
  margin-right: 20px;
  text-decoration: none;
  color: #3391ff;
}
div#pmlinks a:hover {
  color: rgb(141, 187, 223);
  text-decoration-color: currentcolor;
  text-decoration: underline;
}

div#sidebar {
  display: none
}
