<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title layout:title-pattern="$LAYOUT_TITLE $CONTENT_TITLE"
        th:text="${#strings.defaultString(#themes.code('cas.theme.name'), 'Davenport University - Central Authentication Service')}">
    </title>

    <!--/* Core CAS CSS */-->
    <span th:remove="tag" th:if="${'true' == #strings.defaultString(#themes.code('cas.css.core.enabled'), 'true')}">
        <span th:replace="fragments/includes :: stylesheets">
            <a href="fragments/includes.html">Theme</a> stylesheet fragment will go here
        </span>
    </span>

    <span th:remove="tag" th:each="file : ${#strings.arraySplit(#themes.code('cas.standard.css.file'), ',')}">
        <link rel="stylesheet" type="text/css" href="../static/css/cas.css" th:href="@{${file}}" />
    </span>
    <link rel="shortcut icon"
        th:href="@{${#strings.defaultString(#themes.code('cas.favicon.file'), '/favicon.ico')}}" />
</head>

<body>
    <script th:replace="fragments/scripts"></script>

    <div th:replace="fragments/header :: header">
        <a href="fragments/header.html">Header</a> fragment will go here
    </div>

    <div class="mdc-drawer-scrim"></div>

    <div class="mdc-drawer-app-content mdc-top-app-bar--fixed-adjust d-flex justify-content-center">
        <main role="main" id="main-content" class="container-lg py-4">
            <div layout:fragment="content" id="content">
                CAS content will go here
            </div>
        </main>
    </div>

</body>

</html>
